@import 'tailwindcss';

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

html {
  scroll-behavior: smooth;
}
